<header class="section-header bg-success" style="height:200px;">
  <h2 style="text-align: center;" class="display-4">Our objectives</h2>  
</header>
<section id="about" style="height:80vh;" class="mb-5">
  <div class="container bg-light d-flex justify-content-center align-items-center" style="height:100%;">

    

    <div class="row about-cols">

      <div class="col-md-4 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <img alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-rocket"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Mission</a></h2>
          <p>
            Our mission is to digitize the complain register and management system and help to make our city clean.
            
          </p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <img alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-seedling"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Plan</a></h2>
          <p>
            Our plan is to aid in the 'Smart City' concept, making the complain register and management system easy and convenient.
          </p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <img alt="" class="img-fluid">
            <div class="icon"><i class="fas fa-gem"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Vision</a></h2>
          <p>
           Our vision within next five years is to implement the system in every municipality of Nepal.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
  