<div class=" container p-3">
  <% if(typeof msg != 'undefined') { %>
  <div class="alert alert-danger"><%= msg %></div>
  <% } %>
  <form class="form-horizotal d-flex justify-content-center align-items-items flex-column vh-100"
      action="/user/upload" method="POST" enctype="multipart/form-data">
      <div class="form-group">
          <label>state the title</label>
          <input class="form-control" type="text" name="title" placeholder="title" />
      </div>
      <div class="form-group">
          <label>Enter the appropriate location:</label>
          <input class="form-control" type="text" name="location" placeholder="location" />
      </div>
      <div class="form-group">
          <label>Please briefly describe the problem:</label>
          <textarea class="form-control" name="description" cols="30" rows="10">
          </textarea>
      </div>
      <div class="form-group">
          <input type="file" name="myImage">
      </div>
      <input type="submit" value="submit" class="btn btn-success w-25 text-center" />
  </form>
  <% if(typeof file != 'undefined') { %>
  <img src="<%= file %>" class="img-thumbnail" style="height:80px;width:100px">
  <% } %>
  <br>
</div>