<h1>Sar<span class="text-success">ok</span>aar</h1>
<ul class="list-group">
  <li class="list-item btn btn-block"><i class="fas fa-tachometer-alt"></i><a href="/admin">Dashboard</a></li>
  <li class="btn btn-block"><i class="fas fa-user-tie"></i>profile</li>
  <li class="btn btn-block"><i class="fas fa-user-tie"></i>register</li>
  <li class="btn btn-block"><i class="fas fa-map-marker-alt"></i>maps</li>
  <li class="btn btn-block"><i class="fas fa-table"></i>tables</li>
  <li class="btn btn-block"><i class="fas fa-users"></i><a href="#">Users</a></li>
</ul>
<div style="height:2px;width:80%;background:rgba(0,0,0,0.1)"></div>

<%# <div class="vertical-menu">
  <a href="#" class="active"><i class="fas fa-user-tie"></i>profile</a>
  <a href="#"><i class="fas fa-user-tie"></i>register</a>
  <a href="#"><i class="fas fa-map-marker-alt"></i>maps</a>
  <a href="#"><i class="fas fa-table"></i>tables</a>
  <a href="#"><i class="fas fa-users">users</i></a>
</div> %>