<footer>
    <div class="row bg-success">
        <div class="container text-center">
            <p class="lead m-0">2019 Sarokaar</p>
            <p class="lead m-0">All rights reserved.</p>
        </div>
    </div>
</footer>