<footer>
    <div class="row bg-success">
        <div class="container text-center">
            <p class="lead m-0">2019 Sarokaar</p>
            <p class="lead m-0">All rights reserved.</p>
        </div>
    </div>
    <div class="row bg-success" style="border-bottom:1px solid rgba(255, 255, 255, 0.3);">
        <div class="container">
            <ul class="list-group list-group-horizontal float-right">
                <li class="list-group-item">
                    <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a>
                </li>
            </ul>
        </div>
</footer>