<footer>
    <div class="row bg-success">
        <div class="container text-center">
            <p class="lead m-0">&copy;-Sarokaar 2019-</p>
            <small>all rights reserved.</small>
        </div>
    </div>
    <div class="row bg-success" style="border-bottom:1px solid rgba(255, 255, 255, 0.3);">
        <div class="container">
            <ul class="list-inline float-right">
                <li class="d-inline px-2">
                    <a href="#" title="facebook" class="text-light"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="d-inline px-2">
                    <a href="#" title="instagram" class="text-light"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="d-inline px-2">
                    <a href="#" title="linkedIn" class="text-light"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="d-inline px-2">
                    <a href="#" title="google-plus" class="text-light"><i class="fab fa-google-plus-g"></i></a>
                </li>
            </ul>
        </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
