<table class="table table-striped">
  <tr>
    <th>uid</th>
    <th>username</th>
    <th>email</th>
  </tr>
  <% users.forEach(user=> { %>
    <tr>
      <td><%= user.uid %></td>
      <td><%= user.uname %></td>
      <td><%= user.email %></td>
    </tr>
  <% }) %>
<table>