<div class="row bg-success" style="border-bottom:1px solid rgba(255, 255, 255, 0.3);">
</div>
<div class="row bg-success sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg nav-light bg-success">

            <a class="navbar-brand" href="/">Sarokaar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto navbar-right">

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/developers">Developers</a>
                    </li>
                    <li class="nav-item">
                        <% if('window.innerWidth' < 425+'px') { %>
                        <a class="nav-link" href="#sign-up" id="sign-up-redirect">Register</a>
                        <% }else { %>
                        <a class="nav-link" href="/user/register" id="login-redirect">Register</a>
                        <% } %>
                    </li>
                    <li class="nav-item">
                        <% if('window.innerWidth' < 425+'px') { %>
                        <a class="nav-link" href="#login" id="login-redirect">Login</a>
                        <% }else { %>
                        <a class="nav-link" href="/user/login" id="login-redirect">Login</a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>