<ul class="list-group">
  <li>
    <form action="/user/home/profile" method="GET">
      <input type="submit" class="text-dark btn btn-block" value="profile">
    </form>
  </li>
  <li>
    <form action="/user/home/settings" method="GET">
      <input type="submit" class="text-dark btn btn-block" value="settings">
    </form>
  </li>
  <li>
    <form action="/user/home/history" method="GET">
      <input type="submit" class="text-dark btn btn-block" value="history">
    </form>
  </li>
  <li>
    <form action="/user/home/complain-form" method="GET">
      <input type="submit" class="text-dark btn btn-block" value="complain">
    </form>
  </li>
  <li>
    <form action="/user/logout" method="GET">
      <input type="submit" value="logout" class="text-dark btn btn-block">
    </form>
  </li>
</ul>