<section id="about" class="grid" style="min-height:70vh;margin:100px 0">

  <div class="grid-item">
    <h2 class="title">You Complain</h2>
    <div><img src="/images/workone.png" style="height:250px;width:250px;"></div> 
    <p>
      orem ipsum dolor sit amet, ei facilis electram consulatu eam, mel ad postea docendi denique, et veri nihil pro. Per an putant conceptam, quod assum latine cum ut. Pri falli sonet ne. Ea vim vide repudiare, vel ei alienum deterruisset interpretaris.
    </p>
  </div>

  <div class="grid-item">
    <h2 class="title">We recieve</h2>
    <div><img src="/images/worktwo.jpg" style="height:250px;width:250px;"></div> 
    <p>
      orem ipsum dolor sit amet, ei facilis electram consulatu eam, mel ad postea docendi denique, et veri nihil pro. Per an putant conceptam, quod assum latine cum ut. Pri falli sonet ne. Ea vim vide repudiare, vel ei alienum deterruisset interpretaris.
    </p>
  </div>

  <div class="grid-item">
    <h2 class="title">We respond</h2>
    <div><img src="/images/workthree.jpg" style="height:250px;width:250px;"></div>
    <p>
      orem ipsum dolor sit amet, ei facilis electram consulatu eam, mel ad postea docendi denique, et veri nihil pro. Per an putant conceptam, quod assum latine cum ut. Pri falli sonet ne. Ea vim vide repudiare, vel ei alienum deterruisset interpretaris.
    </p>
  </div>

</section>