<div class="wrapper">

	<header>
		<h1>How does this work </h1>
	</header>
		
<section class="row">
	
	<div class="col-md-4">
		<h2>You complain</h2>
		<img src="/images/workone.png">
		<p>Users can complain about anything they find it suitable to the concerned municipality. </p>
	</div>
	
	<div class="col-md-4">
		<h2>We recieve</h2>
		<img src ="/images/worktwo.jpg">
		<p>Authorities recieve the complaints and required resouces are allocated accordingly.</p>
	</div>
  
  <div class="col-md-4">
		<h2>We respond</h2>
		<img src="/images/workthree.jpg">
		<p>The complaint is resolved and user is notified of that.</p>
	</div>
	
</section>	
	

</div>