<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/fonts/css/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <div class="container">
      <div class="row mt-3">
        <div class="col-md-10 m-auto min-vh-100">
          <%- body %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
