<div class="container">
    <section class="mobile dark-gradient">
        <h3>What is Sarokaar?</h3>

        <p class="lead">‘Sarokaar’ is a communication platform which aims to fill the void between Municipality
            authorities
            and general public.</p>
        <br>
        <h3>What it is for?</h3>
        <p class="lead">
            This portal will provide a space where anyone can report any local issue related to garbage management,
            drainage
            to the municipality office along with a picture and location and an automated system will redirect the
            issues to
            the concerned parties. There will be a track of how much progress is accomplished and which complaints are
            still
            pending.
        </p>
        <br>
        <h3>How can you help?</h3>
        <p class="lead">You can be a part of change, too. Simply open up the website,
            click the photo of problems you've encounter, upload it, and we'll take care of
            the rest.</p>


        <br>
    </section>
</div>
