
    
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

  <style>
    li {
      background-color: transparent !important;
      border: none !important;
    }
  </style>
  <link rel="stylesheet" href="css/index.css" />
</head>

<body onresize="myfunction()">
  <header>
    <div class="row bg-success" style="border-bottom:1px solid rgba(255, 255, 255, 0.3);">
      <div class="container">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="list-group-item">
            <a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-group-item">
            <a href="#" title="linkedIn"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li class="list-group-item">
            <a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-success">
      <div class="container">
        <nav class="navbar navbar-expand-lg nav-light bg-success">
          <a class="navbar-brand" href="/">Sarokaar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="#">Developers<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='#sign-up' id="sign-up-redirect">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#login" id="login-redirect">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <section class="banner">
    <!-- <img src="images/mtn.jpg" /> -->
    <div class="overlay">
      <div class="container flex">
        <h1 class="lead display-1">
          Sar<span class="text-success">ok</span>aar
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
          reprehenderit quisquam.
        </p>
        <div class="btns">
          <a class="btn btn-success p-2 text-center btn-md btn-sm" href="#">Register</a>
          <a class="btn btn-outline-success p-2 text-center btn-md btn-sm" href="#">Login</a>
        </div>
      </div>
    </div>
  </section>

  <section class="mobile dark-gradient">
    <h3>What is Sarokaar?</h3>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, et obcaecati laborum reiciendis
      corrupti, fugiat quos eligendi enim dicta cupiditate doloremque officia. Tempore nobis ab quo, dolorum cumque
      consequatur illo?</p>
    <br>
    <h3>What it is for?</h3>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, maxime dolore, quod excepturi consequuntur sapiente
      facilis sed similique voluptatibus, accusamus quidem natus soluta labore odio asperiores repellendus
      exercitationem provident esse!
    </p>
    <br>
    <h3>How can you help?</h3>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt rerum sed eum dolor
      reprehenderit quo incidunt voluptate, molestias quasi. Quis odio dolor reiciendis eaque blanditiis assumenda a
      enim non.</p>
  </section>
  <!-- <section class="mobile dark-gradient"></section> -->

  <section class="mobile">
    <div class="field sign-up" id="sign-up">
      <div class="container">
        <h3>Become a part of us!</h3>
        <form action="#">
          <input type="text" class="form-control" placeholder="first Name" />
          <input type="text" class="form-control" placeholder="last Name" />
          <input type="email" class="form-control" placeholder="email" />
          <input type="text" class="form-control" placeholder="phone-number" />
          <input type="password" class="form-control" placeholder="password" />
          <input type="password" class="form-control" placeholder="confirm Password" />
          <input type="submit" value="register" class="btn btn-block btn-success" />
        </form>
      </div>
    </div>
    <div class="field login" id="login">
      <div class="container">
        <h3>Welcome back!</h3>
        <form action="#">
          <input type="email" class="form-control" placeholder="email or phone" />
          <input type="password" class="form-control" placeholder="password" />
          <input type="submit" value="login" class="btn btn-block btn-success" />
        </form>
      </div>
    </div>
  </section>

  <footer>
    <div class="row bg-success">
      <div class="container text-center">
        <p class="lead m-0">2019 Sarokaar</p>
        <p class="lead m-0">All rights reserved.</p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    function myfunction() {
      let wid = window.innerWidth;
      let su = document.getElementById('sign-up-redirect');
      let lg = document.getElementById('login-redirect');
      console.log(wid);
      if (wid < 500) {
        su.href = '#sign-up';
        lg.href = '#login';
      } else {
        su.href = '#';
        lg.href = '#';
      }
    }
  </script>

</body>

</html>

