<section class="banner vh-100">
  <div class="overlay">
    <div class="flex">
      <h1 class="lead display-1" id="animate1">
        Sar<span style="color: var(--primary-green)">ok</span>aar
      </h1>
      <p>
        We do listen to your concerns.
      </p>
      <div class="btn btn-success">
        <a href="/user/register"> Get Started </a> 
      </div>
    </div>
  </div>

  <input type="image" name="submit" src="/images/chaticon.png" style=" height:10%; width:auto; position: fixed; bottom:20px; right: 20px ; z-index: 9990;outline: none !important; transition: 1s all;"
   alt="Submit"  onclick="openform() " />

   <div id="myform" style="position: fixed; bottom:0; right: 0; z-index: 999; display: none; transition: 1s all;"> 
   
    <div>
      <iframe
        allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/b75c1647-f48e-445a-b893-7956a850b29c">
      </iframe>
    </div>
  </div>

</section>

<script>
  function openform() {
  var x = document.getElementById("myform");
  if(x.style.display === "none") {
    x.style.display = "block";
  }
  else
  {
    x.style.display = "none";
  }
}

</script>

<%- include('./partials/aboutus.ejs')%>
<%- include('./partials/work.ejs')%>


