  <% include partials/header.ejs %>

  <section class="banner">
    <!-- <img src="images/mtn.jpg" /> -->
    <div class="overlay">
      <div class="container flex">
        <h1 class="lead display-1">
          Sar<span class="text-success">ok</span>aar
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
          reprehenderit quisquam.
        </p>
        <div class="btns">
          <a class="btn btn-success p-2 text-center btn-md btn-sm" href="#">Register</a>
          <a class="btn btn-outline-success p-2 text-center btn-md btn-sm" href="#">Login</a>
        </div>
      </div>
    </div>
  </section>

  <section class="mobile dark-gradient">
    <h3>What is Sarokaar?</h3>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, et obcaecati laborum reiciendis
      corrupti, fugiat quos eligendi enim dicta cupiditate doloremque officia. Tempore nobis ab quo, dolorum cumque
      consequatur illo?</p>
    <br>
    <h3>What it is for?</h3>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, maxime dolore, quod excepturi consequuntur sapiente
      facilis sed similique voluptatibus, accusamus quidem natus soluta labore odio asperiores repellendus
      exercitationem provident esse!
    </p>
    <br>
    <h3>How can you help?</h3>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sunt rerum sed eum dolor
      reprehenderit quo incidunt voluptate, molestias quasi. Quis odio dolor reiciendis eaque blanditiis assumenda a
      enim non.</p>
  </section>
  <!-- <section class="mobile dark-gradient"></section> -->

  <section class="mobile">
    <div class="field sign-up" id="sign-up">
      <div class="container">
        <h3>Become a part of us!</h3>
        <form action="#">
          <input type="text" class="form-control" placeholder="first Name" />
          <input type="text" class="form-control" placeholder="last Name" />
          <input type="email" class="form-control" placeholder="email" />
          <input type="text" class="form-control" placeholder="phone-number" />
          <input type="password" class="form-control" placeholder="password" />
          <input type="password" class="form-control" placeholder="confirm Password" />
          <input type="submit" value="register" class="btn btn-block btn-success" />
        </form>
      </div>
    </div>
    <div class="field login" id="login">
      <div class="container">
        <h3>Welcome back!</h3>
        <form action="#">
          <input type="email" class="form-control" placeholder="email or phone" />
          <input type="password" class="form-control" placeholder="password" />
          <input type="submit" value="login" class="btn btn-block btn-success" />
        </form>
      </div>
    </div>
  </section>

  <% include partials/footer.ejs %>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    function myfunction() {
      let wid = window.innerWidth;
      let su = document.getElementById('sign-up-redirect');
      let lg = document.getElementById('login-redirect');
      console.log(wid);
      if (wid < 500) {
        su.href = '#sign-up';
        lg.href = '#login';
      } else {
        su.href = '#';
        lg.href = '#';
      }
    }
  </script>

  </body>

  </html>