<section class="banner vh-100">
  <!-- <img src="images/mtn.jpg" /> -->
  <div class="overlay">

    <div class="flex">

      <h1 class="lead display-1" id="animate">
        Sarokaar
      </h1>
      <p>
        We do listen to your concerns.
      </p>
      <div class="btns">
        <a class="btn btn-success p-2 text-center btn-md btn-sm" href="#sign-up">Register</a>
      </div>
    </div>
  </div>

  <button style="position: fixed; bottom:10px; right: 15px ; z-index: 9990; border-radius: 40%; background-color: #4CAF50;"
   onclick="openform()">Chat</button>

   <div id="myform" style="position: fixed; bottom:0; right: 0; z-index: 999; display: none;"> 
   
      <div>
       <iframe
          allow="microphone;"
          width="350"
          height="430"
          src="https://console.dialogflow.com/api-client/demo/embedded/b75c1647-f48e-445a-b893-7956a850b29c">
      </iframe>

      <button type="button" class="btn cancel" onclick="closeform()">Close</button>
      
 </div>

  </div>
  

</section>

<!-- <section class="mobile dark-gradient"></section> -->

<%# <section class="mobile form-section">
  <div class="field sign-up" id="sign-up">
    <div class="container">
      <h3>Become a part of us!</h3>
      <form action="/register" method="POST">
        <input type="text" name="fname" class="form-control" placeholder="firstName" />
        <input type="text" name="lname" class="form-control" placeholder="last Name" />
        <input type="email" name="email" class="form-control" placeholder="email" />
        <input type="text" name="addr" class="form-control" placeholder="address" />
        <input type="text" name="mobile" class="form-control" placeholder="mobile" />
        <input type="password" name="password" class="form-control" placeholder="password" />
        <input type="password" name="cpassword" class="form-control" placeholder="confirm Password" />
        <input type="submit" value="register" class="btn btn-block btn-success" />
      </form>
    </div>
  </div>

  <div class="field login" id="login">
    <div class="container">
      <h3>Welcome back!</h3>
      <form action="/login" method="POST">
        <input type="email" class="form-control" placeholder="Email or Phone" />
        <input type="password" class="form-control" placeholder="Password" />
        <input type="submit" value="Login" class="btn btn-block btn-success" />
      </form>
    </div>
  </div>

</section> %>

<script>
  function openform() {
  console.log("Clikeed");
  window.onload= document.getElementById("myform").style.display = "block";
}

function closeform() {
  document.getElementById("myForm").style.display = "none";
}

</script>


