:root {
    --primary-green: #37b34a;
    --secondary-green: #8cc63f;
    --light-white: #f8f9fa;
    --black: #252527;
    --faded-white: rgba(255, 255, 255, 0.3);
}

.row {
    margin-right: 0 !important;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

i {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}

i:hover {
    color: rgba(0, 0, 0, 0.8);
}
.card {
    background-color: #f8f9fa !important;
}