body,
html {
  max-width: 100%;
  background: #f8f9fa;
}

.grid {
  display: grid;
}

.history-modal {
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  /* height: 100vh;
  width: 70%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.history-modal .cross {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  transition: 0.1s all;
  display: inline-block;
}

.history-modal .cross i {
  padding: 0;
  margin: 0;
}

.history-modal .cross:hover {
  transform: scale(1.4);
}

/* google map css  */
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

.jumboss {
  position: relative;
  margin-top: 5px;
  border-radius: 3px;
  background-color: #d5d9de;
  padding: 5px;
  min-height: 30%;
  line-height: 40px;
  /* flex-wrap: wrap; */
  overflow-wrap: break-word;
}

.card {
  max-width: 100% !important;
  /* overflow: hidden; */
}

.rpost .container {
  padding: 0% 15% !important;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100% !important;
}

.dropbtn {
  background: transparent;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  background: transparent !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.jumboss::first-letter {
  font-size: 70px;
  vertical-align: top;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.history-modal-card {
  position: relative;
  padding: 5px;
  width: 50%;
  background: #f8f9fa;
  border-radius: 4px;
  margin: 5px 0;
  /* overflow: hidden; */
  overflow-y: auto;
}

.col-md-1 {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 1rem !important;
  }
  .flex {
    padding: 10px 0;
  }
  .card {
    margin-top: 10px;
  }
  .nav {
    width: 100% !important;
  }
  .hide {
    display: none !important;
  }
  .history-modal-card {
    width: 98%;
  }
}
@media only screen and (max-width: 320px) {
  .flex ul {
    /* word-wrap: break-word; */
    flex-wrap: wrap;
    overflow-wrap: break-word;
  }
  h1 {
    display: none;
  }
  .history-modal-card {
    width: 99%;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 0.7rem !important;
  }
  .flex {
    padding: 10px 0;
  }
  .card {
    margin-top: 10px;
  }
  .nav {
    width: 100% !important;
  }
  .history-modal-card {
    width: 99%;
  }
}

@media only screen and (max-width: 768px) {
  /* .flex {
    width: 100%;
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
  } */
  .history-modal-card {
    width: 70%;
  }

  .flex ul {
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
  }
  .hide {
    display: none !important;
  }
}

@media only screen and (max-width: 990px) {
  .hide {
    display: none !important;
  }
}
