.wrapper {
    margin: 0 20px 0;
    padding: 10px;
}

h1 {
    text-align: center;
    text-decoration-color: azure;
    text-transform: capitalize;
}

.row img {
    width: 90%;
    height: 45%;
}



@media screen and (max-width: 990px) {
	section.row.col  {
    }
		