<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="fonts/css/all.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <div class="row bg-success" style="border-bottom:1px solid rgba(255, 255, 255, 0.3);">
        <div class="container">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    <a href="#" title="facebook"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="instagram"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="linkedIn"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" title="google-plus"><i class="fab fa-google-plus-g"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row bg-success sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg nav-light bg-success">
                <a class="navbar-brand" href="/">Sarokaar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/developers">Developers<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='#sign-up' id="sign-up-redirect">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#login" id="login-redirect">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>